F1
F2
F3
F4
F5
F6
F7
F8
F9
F10
F11
F12
F13
fig77
oil1
oil2
oil3
oil4
oil5
oil6
oil7
oil8
oil9
oil10
oil11
oil12
oil14
oil15
oil16
oil17
ol1
SALIDA
salida
sallida
TfPsatIn.txt
YPF1
YPF2
YPF3
YPF4
YPF5
YPF6
YPF7
YPF8
YPF9
YPF10
infiles/F1
infiles/F2
infiles/F3
infiles/F5
infiles/F6
infiles/F7
infiles/F8
infiles/F9
infiles/F10
infiles/F11
infiles/F12
infiles/F13
infiles/fig77
infiles/in
infiles/oil1
infiles/oil2
infiles/oil3
infiles/oil4
infiles/oil5
infiles/oil6
infiles/oil7
infiles/oil8
infiles/oil9
infiles/oil10
infiles/oil11
infiles/oil12
infiles/oil14
infiles/oil15
infiles/oil16
infiles/oil17
infiles/YPF1
infiles/YPF2
infiles/YPF3
infiles/YPF4
infiles/YPF5
infiles/YPF6
infiles/YPF7
infiles/YPF8
infiles/YPF9
infiles/YPF10
YPF10
fig77
